
* {
    box-shadow: none !important;
   -moz-box-shadow: none !important;
   -webkit-box-shadow: none !important;
   }
   .v-btn  {
       outline: none !important;
   }

   .toolbar
   {
       background-color: #00BEDB !important;
       color: white !important;
   }

   /* chữ menu màu trắng */
   .chumenu > .v-btn__content { 
    color: white !important;
   }