* {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.v-btn {
    outline: none !important;
}

.toolbar {
    background-color: #00BEDB !important;
    color: white !important;
}


/* chữ menu màu trắng */

.chumenu>.v-btn__content {
    color: white !important;
}

a:hover {
    text-decoration: none !important;
}

.text2line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.6em;
    /* fallback */
    max-height: 3.2em;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}